@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.head{
    height: 80px;
    background-color: #FAF6F0;
    font-family: 'Open Sans', sans-serif;
}
#logo{
  text-transform: uppercase;
    text-decoration: none;
    color: black;
    float:left;
    text-align: left;
    margin-top: 25px;
    margin-left: 150px;
    font-size: 15px;
}
.list{
    float:right;
    text-align: right;
}
.list ul{
    margin-top: 25px;
    word-spacing: 5px;
    margin-right: 200px;
    font-size: 15px;
}
.list ul li{
    display: inline;
    margin-left: 10px;
    padding: 0px 25px;
}
.list ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.hero1 {
  background-image: url(../img/gentelman1.jpg);
  background-attachment: fixed;
  height: 525px;
  background-size: cover;
}
.hero {
    background-image: url(../img/gentelman.jpg);
    background-attachment: fixed;
    height: 525px;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
}
.hero-1 h1{
  color:white;
  padding-top: 200px;
  margin-left: 100px;
  font-size: 45px;
  animation-duration: 4s;
  animation-delay: 2s;
  text-align: center;
  animation: delayText 1s ease-in-out forwards;
}
@keyframes delayText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-1 h2{
  color:white;
  padding-top: 10px;
  margin-left: 100px;
  font-size: 45px;
  animation-duration: 4s;
  animation-delay: 2s;
  text-align: center;
  animation: delayText 1s ease-in-out forwards;
}
.hero-2 h1{
    color:white;
    padding-top: 200px;
    margin-left: 85px;
    font-size: 60px;
    animation-duration: 4s;
    animation-delay: 2s;
    text-align: center;
    animation: delayText 1s ease-in-out forwards;
}
.hero-2 h2{
    color: white;
    padding-left: 40px;
    font-size: 50px;
    text-align: center;
    animation: delayText 1s ease-in-out forwards;
}

div{
    display: block;
}
.object{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    background-color: #F4EAE0;
}
#par{
    font-size: 50px;
    font-weight: 100;
    text-align: center; 
    background-color: #F4EAE0;
    font-family: 'Nunito Sans', sans-serif;
}
.product{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.article {
    font-size: 25px;
    font-weight: 50;
    text-align: center;
    margin-top: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.butt{
    font-weight: 500;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    margin-top: 25px;
    cursor: grab;
    border-radius: 2px;
    margin-left: 90px;
    margin-top: 5px;
}
.image{
    border-radius: 2px;
}
.content{
    display: flex;
    justify-content: space-around;
    background-color: #F4DFC8;
    padding: 30px;
    width: 100%;
    height: 300px;
}
.icon{
    width: 220px;
    height: 220px;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 90%;
}
.site-footer {
  background-color: #333;
  color: white;
  padding: 40px 0;
  height: 250px;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  text-align: center;
  padding: 0 20px;
}

.footer-col h4 {
  margin-bottom: 20px;
}

.contact-list,
.social-links,
.footer-links {
  list-style: none;
  padding: 0;
}

.contact-list li,
.social-links li,
.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}
.fa-handshake-simple{
    padding-left: 80px;
    padding-top: 40px;
    font-size: 50px;
    color: #008000;
  }
  .fa-sack-dollar{
    padding-left: 80px;
    padding-top: 40px;
    font-size: 50px;
    color: #008000;
  }
  .fa-shield{
    padding-left: 80px;
    padding-top: 40px;
    font-size: 50px;
    color: #008000;
  }
.icon p{
    padding-left: 20px;
    font-size: 15px;
    padding-top: 10px;
    font-weight: 1000;
    color: #ffffff;
  }
  .icon{
    background-color: #000000;
  }
  .fa-envelope, .fa-phone, .fa-rss{
    color: #ffffff;
  }
  .social-links a{
    text-decoration: none;
    color: #ffffff;
  }
.contact-list li{
  font-size: 15px;
}
#content1 {
  height: 540px;
}
.box {
  height: 80px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Nunito Sans', sans-serif;
}
.box h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--main-color);
}
.box h4 {
  font-weight: normal;
  text-align: center;
  font-size: 18px;
}
.center {
  width: 75%;
  margin: 0px auto;
}
#content1 iframe {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 25px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
}

.forma {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#butt1 {
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#butt1:hover {
  background-color: #0056b3;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}

.image {
  flex-basis: 45%; 
  margin: 5px 10px 5px 10px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.text {
  flex-basis: 45%; 
  font-family: 'Open Sans', sans-serif;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
}
main {
  padding: 20px;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.author-info img {
  max-width: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.author-details {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.ground{
  background-color: #FAF6F0;
}
.author-details p{
  font-weight: 500;
  font-size: 20px;
}
.image1{
  width: 300px; 
  height: 200px; 
  overflow: hidden;
  border-radius: 5px;
}
.zumiranje {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; 
}

.image1:hover .zumiranje {
  transform: scale(1.1); 
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 800px; 
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  column-gap: 20px;
}

.product1 {
  flex-basis: 30%;
}

.item {
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.image1 img {
  width: 100%;
  height: auto;
 
}

.text {
  margin-top: 10px;
}
.butt2{
  font-weight: 500;
  border: 1px solid black;
  padding: 5px 20px 5px 20px;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}


